@model BloggApp.Models.Article

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-3">@Model.Title</h1>
            <h5 class="text-muted mb-4">@Model.ContributorUsername, @Model.CreatDate.ToString("MMMM dd, yyyy")</h5>
            
            <div class="mb-5">
                @Html.Raw(Model.Body)
            </div>
            
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Blog</a>
        </div>
    </div>
</div>